.w3-theme-l5 {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e8dfe8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#d0bed2 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ba9ebb !important}
.w3-theme-l1 {color:#fff !important; background-color:#a37da5 !important}
.w3-theme-d1 {color:#fff !important; background-color:#7d577d !important}
.w3-theme-d2 {color:#fff !important; background-color:#6f4d69 !important}
.w3-theme-d3 {color:#fff !important; background-color:#61435f !important}
.w3-theme-d4 {color:#fff !important; background-color:#533a51 !important}
.w3-theme-d5 {color:#fff !important; background-color:#453042 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#453042 !important}
.w3-theme-action {color:#fff !important; background-color:#453042 !important}

.w3-theme {color:#fff !important; background-color:#7d577d !important}
.w3-text-theme {color:#7d577d !important}
.w3-theme-border {border-color:#7d577d !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#7d577d !important}