.w3-theme-l5 {color:#000 !important; background-color:#edf9ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#c7e5fb !important}
.w3-theme-l3 {color:#000 !important; background-color:#bcd1f1 !important}
.w3-theme-l2 {color:#000 !important; background-color:#a5bde8 !important}
.w3-theme-l1 {color:#fff !important; background-color:#84a9dc !important}
.w3-theme-d1 {color:#fff !important; background-color:#7992d9 !important}
.w3-theme-d2 {color:#fff !important; background-color:#6867d7 !important}
.w3-theme-d3 {color:#fff !important; background-color:#6668db !important}
.w3-theme-d4 {color:#fff !important; background-color:#4653a4 !important}
.w3-theme-d5 {color:#fff !important; background-color:#182575 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#182575 !important}
.w3-theme-action {color:#fff !important; background-color:#182575 !important}

.w3-theme {color:#fff !important; background-color:#7992d9 !important}
.w3-text-theme {color:#7992d9 !important}
.w3-theme-border {border-color:#84a9dc !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#6867d7 !important}