@font-face {
    font-family: meliBank;
    src: url(../fonts/bmi.ttf);
}

body {
    font-family: meliBank;
    direction: rtl;
    text-align: right;
}

a {
    text-decoration: none;
}

li.tooltip {
    position: relative;
    display: inline;
}

span.tooltipText {
    position: absolute;
    right: 110%;
    top: 10px;
    width: 100px;
    font-size: 80%;
    text-align: center;
    padding: 6px 0;
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

    span.tooltipText::after {
        border-color: transparent transparent transparent #000000;
        border-width: 5px;
        border-style: solid;
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -5px;
    }

li.tooltip:hover span.tooltipText {
    opacity: 1;
    transition: 0.6s;
    visibility: visible;
}

img.userProfile {
    border: outset 3px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
}

    img.userProfile:hover {
        transform: rotate(3deg);
    }

div.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    z-index: 2;
}

span.closeIt {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

    span.closeIt:hover {
        color: #000000;
    }

img#img01 {
    display: block;
    border: 2px groove grey;
    border-radius: 4px;
}

div#cap01 {
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

#cap01, #img01, #post01 {
    margin: auto;
    max-width: 700px;
    width: 95%;
    animation-name: zoom;
    animation-duration: 0.4s;
}

/*************/
.friendContainer {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 0 15px 20px 15px;
    background-color: #fff;
    max-width: 800px;
    width: 95%;
    border-radius: 20px;
    background-color: #fff;
    animation-name: animateTop;
    animation-duration: 0.5s;
}

@keyframes animateTop {
    from {
        bottom: 200px;
    }

    to {
        bottom: 0;
    }
}

.chip {
    background-color: #b4b4b4;
    border-radius: 50px;
    display: inline-block;
    font-size: 17px;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
}

    .chip img {
        border-radius: 50%;
        float: right;
        height: 70px;
        margin: 0 -25px 0 10px;
        width: 70px;
    }

.btnChip {
    font-size: 80%;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 50px;
    float: left;
    display: inline-block;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.reqChip {
    width: 100px;
    line-height: 30px;
    float: left;
    display: inline-block;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.4s;
    cursor: pointer;
}

.unFriend{
    background-color: #ff6f6f;
}
.unFriend:hover {
    background-color: #ff2b2b;
    box-shadow: grey 2px 5px 10px;
}

.sendReqFriend {
    background-color: #68de8b;
}
.sendReqFriend {
    box-shadow: grey 2px 5px 10px;
    background-color: #069d33;
}
/*************/

i.like {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

img.images {
    cursor: pointer;
    transition: 0.6s;
}

    img.images:hover {
        opacity: 0.5;
    }

/* Loader */
#loader {
    display: none;
    position: fixed;
    right: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Side NavBar Push */
#mainContent {
    transition: margin-right 0.5s;
}

#mySideNav {
    position: fixed;
    padding-top: 16px;
    z-index: 4;
    background-color: #000;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: width 0.5s;
}

    #mySideNav a {
        color: #696969;
        white-space: nowrap;
        display: block;
        padding: 10px;
        text-decoration: none;
        transition: 0.4s;
    }

        #mySideNav a:hover {
            color: #ffffff;
        }

#myOverlayNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    background-color: #000;
    z-index: 3;
    transition: opacity 1s;
}
